*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#fff;
}
html,body{
    height: 100%;
    width:100%;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.page1{
    height:100%;
    width:100%;
    background-color: aqua;
}
.page2{
    height:100%;
    width: 100%;
    background-color: bisque;
  
}
.page2 h1{
    color:black;
    font-size: 35vw;
    font-weight: 500;
    position: relative;
    top:10vh;
}
